
.notice {
    padding: 18px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    color: $color;
    background: #e7f2fa
}

.notice p:last-child {
    margin-bottom: 0
}

.notice-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: #fff;
    background: #6ab0de
}

.notice.warning .notice-title {
    background: $warnTitleBgColor;
}

.notice.warning {
    background: $warnBgColor;
}

.notice.info .notice-title {
    background: $infoTitleBgColor;
}

.notice.info {
    background: $infoBgColor;
}

.notice.note .notice-title {
    background: $noteTitleBgColor;
}

.notice.note {
    background: $noteBgColor;
}

.notice.tip .notice-title {
    background: $tipTitleBgColor;
}

.notice.tip {
    background: $tipBgColor;
}

.icon-notice {
    display: inline-flex;
    align-self: center;
    margin-right: 8px
}

.icon-notice img,
.icon-notice svg {
    height: 1em;
    width: 1em;
    fill: currentColor
}

.icon-notice img,
.icon-notice.baseline svg {
    top: 0.125em;
    position: relative
}