{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({
        startOnLoad:false, 
    })

    const elementCode = '.mermaid'

    var els = document.querySelectorAll(elementCode);
    for(let i = 0; i < els.length; i++) {
        let element = els.item(i)
        element.setAttribute('data-original-code', element.innerHTML)
    }

    const loadMermaid = function(theme) {
        mermaid.initialize({theme})
        mermaid.run({
            querySelector: elementCode,
        })
    }
    const resetProcessed = function(){
        return new Promise((resolve, reject) => {
            try {
                var els = document.querySelectorAll(elementCode);
                for(let i = 0; i < els.length; i++) {
                    let element = els.item(i);
                    if(element.getAttribute('data-original-code') != null){
                        element.removeAttribute('data-processed')
                        element.innerHTML = element.getAttribute('data-original-code')
                    }
                }
                resolve()
            } catch (error) {
                reject(error) 
            }
        })
    } 

    window.addEventListener("onColorSchemeChange", (param) => {
        let curColorScheme = param.detail == "dark" ? "dark" : "default";
        resetProcessed()
            .then(loadMermaid(curColorScheme))
            .catch(console.error)
    })

  </script>
{{ end }}